{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.js", "*.mjs"],
      "options": {
        "semi": true
      }
    }
  ]
}
